
body {
  margin: 0;
  padding: 0;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

header {
  margin-bottom:-50px;
}

img {
  max-width: 100%
}
html {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}


.sedona-logo {
  position: relative;
}



.starting-word {
 background-position: 0 0;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.first-word {
  padding-top: 65px; 
  padding-bottom:40px;
  font-size: 14px;
}

.five-reason {
   font-size: 10px;
   font-weight: normal;
   padding-bottom: 60px; 
}

.main-navigation {
  font-size: 14px;
  line-height: 1.857;
  color: rgb(0, 0, 0);
  background-color:#f7fafc;

}

.site-navigatiom a {
  color:#ccd0d3;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: eff1f2;
}

.main-reason {
background-image: url(../img/welcome.svg), url(../img/traingular.svg), url(../img/back.jpg);
background-repeat: no-repeat;
height: 510px;
width: 1200px; 
background-position: center center, center 451px, center -55px;
background-size: 1200px 353px, 1200px 61px, 1200px 773px;
}


.reason-item {
  text-align: center;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 1;
}

.form-starting h4 {
 color:#fefefe;
 text-align: center;
 font-size: 15px;
 padding-top: 35px;
 padding-bottom:35px; 
}

.form-starting {
  position: relative;
  width: 623px;
  margin-left: 455px;
  height: 86px;
  top:60px;
  background-color:#8c7c72; 
}

h4 {
  font-size: 20px;
}

.date-offer {
  font-size: 10px;
}
.interest-block {
  background-position: 0 0;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  background-color:#fefefd;
  }

.hotel-finding {
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 1.857;
  background-position: 0 0;
  background-color:#e1dedc;

}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: ffffff;
  background-color: #bcd7e7;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: 9dc3d9;
}


/* СЕТКА: ГЛАВНОЕ МЕНЮ */


html,
body {
  min-height: 2588px;
  min-width: 1200px;
}

li {
  list-style-type: none;
}

a {
  text-decoration:none;
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: : 22px;
  padding: 0;
}

.info {
  order: 1;
}

.media {
  order: 2;
}


.map {
  order: 4;
}

.hotels {
  order: 5;
}

.logo {
  order: 3;
}


/* КОНТЕЙНЕР С ПРИЧИНАМИ*/

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.city {
  order: 1;
  width: 100%;
  color:#FFFFFF;
  }

.habitation {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  order: 2;
  width: 33%;
  padding-top: 60px;
  padding-bottom: 90px;
}

.food {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  order: 2;
  width: 33%;
  padding-top: 60px;
  padding-bottom: 90px;
}


.souvenirs {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-around;
  order: 2;
  width: 33%;
  padding-top: 60px;
  padding-bottom: 90px;
}

.paragraph {
  width: 150px;
}
.bridge {
  order: 3;
  width: 100%;
  color: #FFFFFF;
}

.area {
  justify-content: space-around;
  order: 4;
  width: 33%;
}

.road {
  justify-content: space-around;
  order: 4;
  width: 33%;
}


.tourists {
  justify-content: space-around;
  order: 4;
  width: 33%;
}

.block2 {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.block3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.light {
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 55px;
  }

.find {
  text-align: center;
  background-color:#a3968e;
}

.big-map {
  text-align: center;
  width: 1200px;
  height: 473px;
  z-index: -1;
}

/*МЕЛКИЕ ЭЛЕМЕНТЫ*/

.city {
display:flex;
flex-direction:row;
align-items: center;
flex-wrap: nowrap;
justify-content: space-between;
background-color:#89b8d5; 
align-content: flex-end;
}


.bridge {
display:flex;
flex-direction:row-reverse;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
background-color:#89b8d5; 
align-content: flex-end;
}


.search-button {
   width: 458px;
    height: 58px;
    margin-top: 55px;
    margin-bottom:55px;
    margin-top: 23px;
    margin-left: 56px;
    margin-right:56px;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    border: 0;
}
.button_search:hover {
    background-color: #669ebf;
}
.button_search:active {
    background-color: #5596be;
    color: #94b8d0;
}

.date{
    display: inline-block;
    vertical-align: top;
    margin-left: 21px;
    width: 346px;
    height: 38px;
    margin-bottom: 29px;
    font-weight: bold;
    border: 0;
    background-color: #f2f2f2;
    margin: 22px 13px;
    margin-right: 40px;
    margin-top: 54px;

    
}
.date:hover {
    background-color: "#ebebeb"
}
.date:focus {
    background-color: "#ffffff"
}

.people {
   display: inline-block;
    vertical-align: top;
    margin-left: -4px;
    padding-left: 0;
    width: 115px;
    height: 38px;
    margin-bottom: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-indent: 6px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: "#f2f2f2"
}

.people input [type="value"] {
    display: none;
}
.people:hover {
    background-color: "#ebebeb"
}
.people:focus {
    background-color: "#ffffff"
}

.main-count {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color:"#f1f3f4"
}


.find-form {
  padding-left: 317px;
  padding-right: 317px;
  padding-bottom: 198px;
  padding-top: 0px;
}

.form {
  box-sizing: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; 
}
/*СЕТКА ДЛЯ ФУТЕРА*/

.site-contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.footer h2 {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
  text-align: center;
  position: absolute;

}

.social-icon {
  display: flex;
  justify-content: center;
  width: 400px;
  padding-left: 121px;
  padding-right: 121px;
}

.soc-web {
  background-color:#cce0e9;
  }

.soc-web a {
  text-decoration: none;
  color: #ffffff;
}


.soc-web a:active {
  color: rgba(255, 255, 255, 0);
}

.soc-web a:hover,
.soc-web a:hover {
 background-color: #669ec0; 
}

.soc-web {
display: flex;
align-items: center;
justify-content: center;
background-color: #81B3D2;
color: #FFFFFF;
width: 46px;
height: 48px;
/*margin-top: 35px;
margin-bottom: 35px;
margin: 3px 3px;*/
 }



  
 

.soc-web:nth-child(1) a {
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
}


.soc-web:nth-child(2) a {
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
 }

.soc-web:nth-child(3) a {
  width: 46px;
  height: 48px;
 margin-right: 3px;
margin-left: 3px;
 }   

.footer academy {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-align: center;
}

.academy-logo {
  width: 115px;
  height: 41px;
  background-image: url("../img/AcademyBLACK.svg");
  background-repeat: no-repeat;
  margin-left: 8px;
}

.academy-logo:active {
  background-image: url("../img/AcademyWHITE.svg");
  background-repeat: no-repeat;
}
